.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .overlay {
    background-color: #0000005b;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
  }

  &__content {
    width: 90vw;
    height: 80vh;
    position: relative;
    z-index: 9999999;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    padding: 30px;

    @media (min-width: $bp4) {
      padding: 200px 50px;
      width: 80vw;
      height: 80vh;
    }

    #title {
      @include fontz(18px, 38);
      margin-bottom: 50px;
      font-family: $play;
    }

    p {
      @include fontz(14px, 5);
      max-width: 800px;
    }
    .buttons {
      background-color: $white;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      position: absolute;
      z-index: 999999999999;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (hover: hover) {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
